/proyecto/node_modules
/proyecto/public/storage
/proyecto/storage/*.key
/proyecto/vendor
/proyecto/.idea
/proyectoHomestead.json
/proyectoHomestead.yaml
/proyecto.env
/proyecto/.vs
/Calidad/*.html
/Calidad/*.png
/Calidad/debug.log
